/* footer-------------------------------------------------------------------------------------------------------------------------------*/
.footerContainer {
  flex-shrink: 0;
  margin-top: auto;
  background-color: $Black;
  width: 100%;
  height: fit-content;
  @include flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .botonColapsar {
    align-self: flex-end;
    img {
      width: 80px;
      height: fit-content;
      margin-top: 20px;
    }
    button {
      background-color: transparent;
      border: none;
    }
    :hover {
      background-color: transparent;
    }
  }
  .siguenos {
    width: 100%;
    > nav > ul {
      display: flex;
      flex-direction: row; /* por defecto ya es row */
      justify-content: space-evenly;
      list-style: none; /* saca los puntitos */
      padding: 0;
      margin: 0;
      width: 100%;
    }
    img {
      width: 80px;
      height: 80px;
    }
  }

  .footerNavs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
    p {
      font-family: $fuente2;
      color: $falso-blanco;
      padding: 0;
      margin: auto;
    }
    .enlaces {
      p {
        cursor: pointer;
      }
    }

    .barraVertical {
      height: 30px;
      width: 1.5px;
      background-color: $verde-triada;
    }
    .recursos {
      p {
        cursor: pointer;
      }
    }
  }
  .descripcionPagina {
    width: 100%;
    color: $falso-blanco;
    text-align: left;
    margin-top: 8px;
    font-family: $fuente2;
    text-align: center;
    margin-bottom: 40px;
  }
}

#copyright {
  color: $falso-blanco;
  font-family: $fuente1;
  text-align: center;
  margin: auto;
}

/* Contenedor principal */
main {
  flex: 1 0 auto;
  min-height: 100vh; /* ojo con esto, en mobile decencarrila todo, en pc y tablet puede generar errores */
}
